{% extends 'payroll_app/base.html' %}

{% block directory %} 
        <ol class="breadcrumb mb-1">
            <li class="breadcrumb-item">
                <a href="{% url 'manage_account' pk=account.pk %}" class="text-secondary text-decoration-none">Manage Account</a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-secondary text-decoration-none">Change Password</a>
            </li>
        </ol> 
{% endblock %}

    {% block content %}
    <div class="container-fluid d-flex justify-content-center m-3 w-100 div-animation">
        <div class="card w-50 shadow-lg">
            <h2 class="card-header">Change Password</h2>
            <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <input type="password" name="old_pw" placeholder="Current Password" class="form-control mb-2" required>
                <input type="password" name="new_pw1" placeholder="New Password" class="form-control mb-2" required>
                <input type="password" name="new_pw2" placeholder="Confirm New Password" class="form-control mb-2" required>
                {% if error %}
                    <p class="text-danger">{{ error }}</p>
                {% endif %}
                <button class="btn btn-primary">Confirm</button>
                <a href="{% url 'manage_account' pk=account.id %}" class="btn btn-secondary">Cancel</a>
            </form>
            </div>
        </div>
    </div>
    {% endblock %}
