{% extends 'payroll_app/base.html' %}
{% load static %}

    {% block alert %}
        {% if message %}
            <div class="d-flex justify-content-center">
                <div class="alert alert-warning alert-dismissible fade show" style="position: fixed; z-index: 1; width: 50%;" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block directory %}
        <ol class="breadcrumb mb-1">
            <li class="breadcrumb-item">
                <a href="{% url 'employees' %}" class="text-secondary text-decoration-none">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-secondary text-decoration-none">Create Employee</a>
            </li>
        </ol> 
    {% endblock %}

    {% block content %}
    <div class="container-fluid d-flex justify-content-center m-3 w-100 div-animation">
        <div class="card w-50 shadow-lg">
            <h2 class="card-header">Create Employee</h2>
            <div class="card-body">
                <form class="form" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <label> Name: </label>
                        <input class="form-control mb-4" type="text" name="name" required>
                        <label> ID Number: </label>
                        <input class="form-control mb-4" type="text" name="id_number" required>
                        <label> Rate: </label>
                        <input class="form-control mb-4" type="number" name="rate" required>
                        <label> Allowance (Optional): </label>
                        <input class="form-control mb-4" type="number" name="allowance">
                        <div class="d-flex w-100 justify-content-center">
                            <button class="btn btn-outline-primary my-1 w-50" type="submit" name="button" value="submit">Submit</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    {% endblock %}