{% extends 'payroll_app/base.html' %}
{% load static %}

    {% block directory %}
        <ol class="breadcrumb mb-1">
            <li class="breadcrumb-item">
                <a href="{% url 'employees' %}" class="text-secondary text-decoration-none">Employees</a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-secondary text-decoration-none">Create Employee</a>
            </li>
        </ol> 
    {% endblock %}

    {% block content %}

    {% endblock %}