{% extends 'payroll_app/base.html' %}
{% load static %}

    {% block alert %}
        {% if message %}
            <div class="d-flex justify-content-center">
            {% if message == 'Employee created!' %}
                <div class="alert alert-success alert-dismissible fade show" style="position: fixed; z-index: 1; width: 50%;" role="alert">
            {% elif message == 'Employee deleted.' %}
                <div class="alert alert-danger alert-dismissible fade show" style="position: fixed; z-index: 1; width: 50%;" role="alert">
            {% endif %}
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block directory %}
        <ol class="breadcrumb mb-1">
            <li class="breadcrumb-item">
                <a href="{% url 'employees' %}" class="text-secondary text-decoration-none">Home</a>
            </li>
        </ol> 
    {% endblock %}

    {% block content %}
        <div class="navbar mt-3 mx-4 p-3 shadow-lg rounded div-animation" style="background-color: white">
            <div class="w-100">
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="mt-2">Employees</h1>
                    </div>
                    <div class="col">
                        <form class="form-inline my-2 d-flex" method="POST"> {% csrf_token %}
                            <input class="form-control" type="search" placeholder="Search for Employee / ID Number" name="Search">
                            <button class="btn btn-outline-primary mx-2" type="submit" name="button" value="search">Search</button>
                            <a class="btn btn-outline-success w-50" href="{% url 'create_employee' %}">Add Employee</a>
                        </form>
                    </div>
                </div>
                <hr class="my-4">
            </div>
            <table class="table table-hover table-striped">
                <thead class="table-secondary">
                    <th scope="col"> Name </th>
                    <th scope="col"> ID Number </th>
                    <th scope="col"> Rate </th>
                    <th scope="col"> Allowance </th>
                    <th scope="col"> Overtime </th>
                    <th scope="col"> Options </th>
                </thead>
                <tbody>
                    {% for e in employees %}
                    <tr>
                        <td> {{ e.getName }} </td>
                        <td> {{ e.getID }} </td>
                        <td> {{ e.getRate }} </td>
                        <td> {{ e.getAllowance }} </td>
                        <td> {{ e.getOvertime }} </td>
                        <td>
                            <form method="POST">{% csrf_token %}
                                <div class="row mb-2">
                                    <div class="col-8">
                                        <input type="hidden" name="employee_id" value="{{ e.getID }}">
                                        <input type="number" class="form-control" id="hours" name="hours" placeholder="Overtime Hours" min="0">
                                    </div>
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-outline-success mr-1 w-100" name="button" value="add_overtime">Add Overtime</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <a href="{% url 'update_employee' pk=e.pk %}" class="btn btn-outline-primary px-3 mr-3 w-100">Update</a>
                                    </div>
                                    <div class="col-4">
                                        <a href="{% url 'delete_employee' pk=e.pk %}" class="btn btn-outline-danger px-3 mr-3 w-100">Delete</a>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}